$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;


/*//////COLORS///////*/

$primary-blackside: #323232;
$primary-silver: #afafaf;
$primary-white: #ffffff;


/*///////// HOVER COLORS ////////////////////*/

$secondary-bandside:#000000;
$secondary-mercury:#e1e1e1;
$secondary-alabaster:#FAFAFA;